In [7]:
import os
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, DoubleType, TimestampType
from pyspark.sql.functions import col, to_date, concat, lit
os.environ["SPARK_HOME"] = "/home/mate/.local/lib/python3.10/site-packages/pyspark/"
os.environ["PYSPARK_DRIVER_PYTHON"] = "jupyter"
os.environ["PYSPARK_DRIVER_PYTHON_OPTS"] = "notebook"

In [8]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local") \
    .appName("My Spark Application") \
    .getOrCreate()

24/05/03 13:02:42 WARN Utils: Your hostname, ces-shrd-1 resolves to a loopback address: 127.0.1.1; using 192.168.1.25 instead (on interface wlp0s20f3)
24/05/03 13:02:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/03 13:02:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
from pyspark.sql.functions import col, dayofweek,to_date, month, count, avg
from pyspark.sql import Window
from pyspark.sql.functions import row_number,   sum, when


# Load the CSV file into a DataFrame
csv_file_path_flightdelay = "./full_data_flightdelay.csv"  # Replace with the path to your CSV file


df_flightdelay = spark.read.option("delimiter", ",").option("header", "true").csv(csv_file_path_flightdelay)


# Read the CSV file using the manually defined schema
csv_file_path_weather = "./airport_weather_2019.csv"  # Replace with your file path
df_weather = spark.read.option("delimiter", ",").option("header", "true").csv(csv_file_path_weather)

In [60]:
df_weather.select('DATE').distinct().count()

730

In [11]:
from pyspark.sql.functions import coalesce

# create new column for month and day_of_week values derived from date
df_day_column = df_weather.withColumn("DATE_NEW", to_date(col("DATE"), "M/d/yyyy"))
df_day_column = df_day_column.withColumn("DATE_NEW", coalesce(df_day_column["DATE_NEW"], to_date(df_day_column["DATE"], 'yyyy-MM-dd')))

df_day_column = df_day_column.withColumn("DAY_OF_WEEK", dayofweek(col("DATE_NEW").alias("DAY_OF_WEEK")))
df_day_column = df_day_column.withColumn("MONTH", month(col("DATE_NEW").alias("MONTH")))
#df_day_column = df_weather.withColumn("DAY_OF_WEEK", dayofweek(col("DATE").alias("DAY_OF_WEEK"))) 




#df_day_column.show(n=2)
df_day_column.createOrReplaceTempView("table1")
df_select = spark.sql("SELECT STATION, NAME,DAY_OF_WEEK,DATE, MONTH, AWND, PRCP, SNOW, SNWD, TAVG, TMAX, TMIN, WDF2 from table1")
#df_select.show(n=5)

grouped_df = df_select.groupBy("MONTH", "NAME").agg(
    avg("AWND").alias("AWND"),
    avg("PRCP").alias("PRCP"),
    avg("SNOW").alias("SNOW"),
    avg("SNWD").alias("SNWD"),
    avg("TAVG").alias("TAVG"),
    avg("TMAX").alias("TMAX"),
    avg("TMIN").alias("TMIN"),
    avg("WDF2").alias("WDF2")
).orderBy("NAME","MONTH")


grouped_df.show(n=20)

24/05/03 13:02:46 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----+--------------------+------------------+--------------------+-------------------+-------------------+------------------+------------------+------------------+------------------+
|MONTH|                NAME|              AWND|                PRCP|               SNOW|               SNWD|              TAVG|              TMAX|              TMIN|              WDF2|
+-----+--------------------+------------------+--------------------+-------------------+-------------------+------------------+------------------+------------------+------------------+
|    1|ALBANY INTERNATIO...| 9.604516129032257| 0.13838709677419353| 0.6096774193548388| 2.5064516129032257|23.967741935483872| 31.93548387096774|14.709677419354838|231.29032258064515|
|    2|ALBANY INTERNATIO...| 8.803214285714287| 0.09571428571428572| 0.5035714285714284|              2.525|27.857142857142858|35.392857142857146|             19.75|233.57142857142858|
|    3|ALBANY INTERNATIO...| 9.698064516129032|0.045000000000000005|0.21290322580645163|  1.348387096774194|35.354838709677416| 44.58064516129032| 25.70967741935484|248.06451612903226|
|    4|ALBANY INTERNATIO...| 9.573666666666668|               0.144|               0.07|               0.04|50.166666666666664| 59.93333333333333| 39.63333333333333|             234.0|
|    5|ALBANY INTERNATIO...| 7.662903225806452|  0.0993548387096774|                0.0|                0.0|58.096774193548384| 67.93548387096774| 49.12903225806452|210.96774193548387|
|    6|ALBANY INTERNATIO...| 6.658999999999998| 0.17166666666666666|                0.0|                0.0| 68.53333333333333| 78.93333333333334| 57.06666666666667|229.66666666666666|
|    7|ALBANY INTERNATIO...|5.3835483870967735| 0.12870967741935482|                0.0|                0.0| 75.96774193548387|  86.6774193548387|  65.6774193548387|211.93548387096774|
|    8|ALBANY INTERNATIO...| 5.613870967741936|  0.1329032258064516|                0.0|                0.0|  71.2258064516129|  82.2258064516129| 61.16129032258065| 216.1290322580645|
|    9|ALBANY INTERNATIO...| 5.965333333333336| 0.07433333333333333|                0.0|                0.0| 64.06666666666666|              75.2|              52.4|197.66666666666666|
|   10|ALBANY INTERNATIO...| 6.400967741935484| 0.24129032258064514|                0.0|                0.0|53.774193548387096| 62.74193548387097| 44.41935483870968|212.58064516129033|
|   11|ALBANY INTERNATIO...| 8.060333333333332|               0.094|0.07666666666666667|               0.16| 37.13333333333333|44.733333333333334|              28.7|214.33333333333334|
|   12|ALBANY INTERNATIO...| 7.137096774193547| 0.14645161290322578| 0.9000000000000001|  3.761290322580645|30.483870967741936|36.903225806451616|22.677419354838708|225.16129032258064|
|    1|ALBUQUERQUE INTER...| 6.725161290322581|0.016774193548387096|0.06451612903225806|0.12903225806451613| 35.32258064516129| 46.03225806451613|25.806451612903224|  257.741935483871|
|    2|ALBUQUERQUE INTER...| 9.251428571428573|0.017857142857142856|               0.15|0.11071428571428572|39.285714285714285|              51.5|28.321428571428573|239.64285714285714|
|    3|ALBUQUERQUE INTER...| 10.17451612903226|0.023548387096774197|                0.0|                0.0| 50.29032258064516| 62.16129032258065|38.225806451612904|217.09677419354838|
|    4|ALBUQUERQUE INTER...| 8.835666666666665|0.033666666666666664|                0.0|                0.0|              57.6| 70.26666666666667| 44.43333333333333|             215.0|
|    5|ALBUQUERQUE INTER...|  9.77741935483871|0.007741935483870969|                0.0|                0.0| 61.70967741935484|              75.0|48.193548387096776|217.74193548387098|
|    6|ALBUQUERQUE INTER...| 9.857333333333333|0.002333333333333...|                0.0|                0.0|              74.4|              87.9|              59.7|205.66666666666666|
|    7|ALBUQUERQUE INTER...|  8.42032258064516| 0.06290322580645161|                0.0|                0.0| 80.03225806451613| 93.48387096774194| 67.90322580645162| 163.2258064516129|
|    8|ALBUQUERQUE INTER...|7.2377419354838715|0.013870967741935483|                0.0|                0.0| 78.96774193548387|  93.2258064516129| 66.03225806451613|192.25806451612902|
+-----+--------------------+------------------+--------------------+-------------------+-------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [65]:
df_day_column.select('DATE_NEW').distinct().count()

365

In [12]:
from pyspark.sql.functions import lower, split, col, lit, monotonically_increasing_id


# Normalize joining columns
grouped_df = grouped_df.withColumn("normalized_name", lower(col("name")))
df_flightdelay = df_flightdelay.withColumn("normalized_name", lower(split(col("departing_airport"), " ").getItem(0)))

# Group by to investigate
grouped_df_nn = grouped_df.groupBy("normalized_name").agg(
    count('*').alias('count')
)

grouped_df_name = grouped_df.groupBy("NAME").agg(
    count('*').alias('count')
)

In [13]:
# For 'grouped_df', transforming 'NAME' to lowercase and dropping duplicates based on the 'name' column
grouped_df_lower = grouped_df.select(lower(col("NAME")).alias("name")).dropDuplicates(['name'])

# For 'df_flightdelay', transforming 'DEPARTING_AIRPORT' to lowercase, casting it to string, and dropping duplicates based on the 'departing_airport' column
df_flightdelay_lower = df_flightdelay.select(lower(col("DEPARTING_AIRPORT")).alias("departing_airport")).dropDuplicates(['departing_airport'])



#join providing table that contain in the name column all distinct airports 
#from weather dataset and under departing_flight all distinc airports from delay dataset
print(grouped_df_lower.count())
print(df_flightdelay_lower.count())
result_df = df_flightdelay_lower.alias("flight").join(
    grouped_df_lower.alias("grouped"),
    (col("grouped.name").contains(col("flight.departing_airport"))),
    "inner"
).select(
    col("flight.departing_airport").alias("departing_airport"),
    col("grouped.name").alias("name")
)

result_df.show(n=2)

106

96

+--------------------+--------------------+
|   departing_airport|                name|
+--------------------+--------------------+
|memphis internati...|memphis internati...|
|portland internat...|portland internat...|
+--------------------+--------------------+
only showing top 2 rows

In [17]:
#modify dataframe such that df_result will contain the airports matched on join 
#and enhanced results will contain the df of unmatched airports for each dataset

# Identifying non-matched entries
non_matched_flight = df_flightdelay_lower.alias("flight").join(
    result_df.alias("result"),
    result_df.departing_airport == df_flightdelay_lower.departing_airport,
    "left_anti"
)

non_matched_grouped = grouped_df_lower.alias("grouped").join(
    result_df.alias("result"),
    result_df.name == grouped_df_lower.name,
    "left_anti"
)


# Add a unique ID to each DataFrame to facilitate the outer join
result_df = result_df.withColumn("id", monotonically_increasing_id())
non_matched_flight = non_matched_flight.withColumn("id", monotonically_increasing_id())
non_matched_grouped = non_matched_grouped.withColumn("id", monotonically_increasing_id())


# Perform the outer joins using the unique IDs, result_df is now composed of matched airports
enhanced_result_df = result_df.join(non_matched_flight, "id", "outer" ).join(non_matched_grouped, "id", "outer" )
enhanced_result_df = enhanced_result_df.drop("id")

# Show the enhanced DataFrame with additional columns
enhanced_result_df.printSchema()

# Select columns, get rid of duplicates
selected_columns = [col for col in enhanced_result_df.columns if col != 'name' and col != 'departing_airport'] + ['grouped.name'] + ['flight.departing_airport']

#will contain unmatched airports for each dataset
enhanced_result_df = enhanced_result_df.select(selected_columns)
enhanced_result_df.drop('name','departing_airport')
enhanced_result_df.show(n=2)

root
 |-- departing_airport: string (nullable = true)
 |-- name: string (nullable = true)
 |-- departing_airport: string (nullable = true)
 |-- name: string (nullable = true)

+--------------------+--------------------+
|                name|   departing_airport|
+--------------------+--------------------+
|albuquerque inter...|tucson international|
|anchorage ted ste...|charleston intern...|
+--------------------+--------------------+
only showing top 2 rows

In [22]:
# create dataframe that contains airports matched and unmatched result from the join
# Rename columns in result_df
result_df = result_df.withColumnRenamed("name", "weather_matched") \
                     .withColumnRenamed("departing_airport", "delay_matched")

# Rename columns in enhanced_result_df
enhanced_result_df = enhanced_result_df.withColumnRenamed("name", "weather_unmatched") \
                                       .withColumnRenamed("departing_airport", "delay_unmatched")

# Optional: If you need to ensure the rows are matched by order, add an index column to each DataFrame
result_df = result_df.withColumn("index", monotonically_increasing_id())
enhanced_result_df = enhanced_result_df.withColumn("index", monotonically_increasing_id())

# Join DataFrames on the index column
matched_and_unmatched_airports = result_df.join(
    enhanced_result_df,
    on="index",
    how="outer"  # Use "outer" to include all rows from both DataFrames
)

# Drop the index column as it's no longer needed after joining
matched_and_unmatched_airports = matched_and_unmatched_airports.drop("index", 'name', 'departing_airport')

# Show the resulting DataFrame structure
matched_and_unmatched_airports.show(n = 76)

+--------------------+--------------------+----+--------------------+--------------------+
|       delay_matched|     weather_matched|  id|   weather_unmatched|     delay_unmatched|
+--------------------+--------------------+----+--------------------+--------------------+
|memphis internati...|memphis internati...|   0|albuquerque inter...|tucson international|
|portland internat...|portland internat...|   1|anchorage ted ste...|charleston intern...|
|richmond internat...|richmond internat...|   2|asheville airport...|         kent county|
|washington dulles...|washington dulles...|   3|aspen pitkin co a...|     eppley airfield|
|mccarran internat...|mccarran internat...|   4|atlanta hartsfiel...|phoenix sky harbo...|
|  birmingham airport|birmingham airpor...|   5|austin bergstrom ...|palm springs inte...|
|kansas city inter...|kansas city inter...|   6|baltimore washing...|pittsburgh intern...|
|orlando internati...|orlando internati...|   7|baton rouge metro...|       lihue airport|
|   will rogers world|oklahoma city wil...|   8|       boston, ma us|       orange county|
|syracuse hancock ...|syracuse hancock ...|   9|bozeman gallatin ...|port columbus int...|
|philadelphia inte...|philadelphia inte...|  10|buffalo johnson c...|greenville-sparta...|
|palm beach intern...|west palm beach i...|  11|buffalo niagara i...|     kahului airport|
|  boise air terminal|boise air termina...|  12|burlington intern...|minneapolis-st pa...|
|san francisco int...|san francisco int...|  13|cedar rapids muni...|raleigh-durham in...|
|nashville interna...|nashville interna...|  14|charleston intl. ...|long beach daughe...|
|san antonio inter...|san antonio inter...|  15|charlotte douglas...|seattle internati...|
|newark liberty in...|newark liberty in...|  16|chattanooga airpo...|             keahole|
|bradley internati...|hartford bradley ...|  17|chicago ohare int...|theodore francis ...|
|salt lake city in...|salt lake city in...|  18|cincinnati munici...|   douglas municipal|
|jacksonville inte...|jacksonville inte...|  19|cleveland hopkins...|friendship intern...|
| miami international|miami internation...|  20|colorado springs ...|   dallas love field|
|honolulu internat...|honolulu internat...|  21|columbus ohio sta...|ontario internati...|
|           laguardia|laguardia airport...|  22|dallas faa airpor...|sacramento intern...|
|spokane internati...|spokane internati...|  23|dayton wright bro...|greater buffalo i...|
|el paso internati...|el paso internati...|  24|denver internatio...|cleveland-hopkins...|
|san jose internat...|san jose internat...|  25|des moines intern...|detroit metro way...|
|albany international|albany internatio...|  26|desert resorts re...|stapleton interna...|
|norfolk internati...|norfolk internati...|  27|detroit metro air...|ronald reagan was...|
|los angeles inter...|los angeles inter...|  28|fayetteville spri...| logan international|
|     william p hobby|houston william p...|  29|fort lauderdale i...|indianapolis muni...|
| tampa international|tampa internation...|  30|fort myers sw flo...| tulsa international|
|houston intercont...|houston intercont...|  31|fort worth meacha...|   atlanta municipal|
|                NULL|                NULL|NULL|fresno yosemite i...|metropolitan oakl...|
|                NULL|                NULL|NULL|grand island cent...|des moines municipal|
|                NULL|                NULL|NULL|grand rapids gera...|    standiford field|
|                NULL|                NULL|NULL|greensboro airpor...|john f. kennedy i...|
|                NULL|                NULL|NULL|greenville downto...|cincinnati/northe...|
|                NULL|                NULL|NULL|huntsville intnl ...|dallas fort worth...|
|                NULL|                NULL|NULL|indianapolis inte...|fort lauderdale-h...|
|                NULL|                NULL|NULL|jackson internati...|puerto rico inter...|
|                NULL|                NULL|NULL|kailua kona ke ah...|hollywood-burbank...|
|                NULL|                NULL|NULL|knoxville airport...|chicago o'hare in...|
|                NULL|                NULL|NULL|lexington bluegra...|piedmont triad in...|
|                NULL|                NULL|NULL|lihue weather ser...|san diego interna...|
|                NULL|                NULL|NULL|louisville intern...|reno/tahoe intern...|
|                NULL|                NULL|NULL|madison dane co r...|anchorage interna...|
|                NULL|                NULL|NULL|manchester airpor...|savannah/hilton h...|
|                NULL|                NULL|NULL|milwaukee mitchel...|southwest florida...|
|                NULL|                NULL|NULL|minneapolis st. p...|louis armstrong n...|
|                NULL|                NULL|NULL|new orleans airpo...|        mcghee tyson|
|                NULL|                NULL|NULL|newport state air...|lambert-st. louis...|
|                NULL|                NULL|NULL|north little rock...|general mitchell ...|
|                NULL|                NULL|NULL|north myrtle beac...|austin - bergstro...|
|                NULL|                NULL|NULL|phoenix airport, ...|chicago midway in...|
|                NULL|                NULL|NULL|pittsburgh allegh...|albuquerque inter...|
|                NULL|                NULL|NULL|port arthur se tx...|         sanford nas|
|                NULL|                NULL|NULL|portland jetport,...|         truax field|
|                NULL|                NULL|NULL|raleigh airport, ...|         adams field|
|                NULL|                NULL|NULL|rapid city region...|northwest arkansa...|
|                NULL|                NULL|NULL| reno airport, nv us|rochester monroe ...|
|                NULL|                NULL|NULL|rochester greater...|james m cox/dayto...|
|                NULL|                NULL|NULL|sacramento metrop...|  pensacola regional|
|                NULL|                NULL|NULL|san diego interna...|myrtle beach inte...|
|                NULL|                NULL|NULL|san juan l m mari...|portland internat...|
|                NULL|                NULL|NULL|santa ana john wa...|                NULL|
|                NULL|                NULL|NULL|savannah internat...|                NULL|
|                NULL|                NULL|NULL|seattle tacoma ai...|                NULL|
|                NULL|                NULL|NULL|springfield weath...|                NULL|
|                NULL|                NULL|NULL|st louis lambert ...|                NULL|
|                NULL|                NULL|NULL|tallahassee airpo...|                NULL|
|                NULL|                NULL|NULL|tallahassee regio...|                NULL|
|                NULL|                NULL|NULL|traverse city che...|                NULL|
|                NULL|                NULL|NULL|wichita colonel j...|                NULL|
|                NULL|                NULL|NULL|wilmington intern...|                NULL|
+--------------------+--------------------+----+--------------------+--------------------+

In [23]:
#count the amount of airports for each clumn in the enhanced dataset dataframe 

non_null_name_count = result_df.filter(col("name").isNotNull()).count()
non_null_name_count1 = result_df.filter(col("departing_airport").isNotNull()).count()
non_null_name_count2 = enhanced_result_df.filter(col("weather_unmatched").isNotNull()).count()
non_null_name_count3 = enhanced_result_df.filter(col("delay_unmatched").isNotNull()).count()
print("Number of non-null strings in the 'name' column:", non_null_name_count, non_null_name_count1,non_null_name_count2, non_null_name_count3)

# Display the filtered DataFrame and print the counts

Number of non-null strings in the 'name' column: 32 32 74 64

In [25]:
import pandas as pd

# Initialize a list to store the parsed data
data = []

# Open the text file and parse it line by line
with open('./airports.txt', 'r') as file:
    for line in file:
        # Split the line by comma to extract the needed parts
        parts = line.split(',')
        
        # Check if the line has enough parts to avoid index errors
        if len(parts) >= 4:
            # Extract and clean the desired parts
            # Remove quotation marks and extra spaces if present
            name = parts[1].strip('"').strip()
            city = parts[2].strip('"').strip()
            country = parts[3].strip('"').strip()
            
            # Combine the first two parts into one column, and keep the country as the second column
            combined = f"{name}, {city}, {country}"
            data.append(combined)

# Create a DataFrame from the list
df_airports = pd.DataFrame(data, columns=['Airport and City'])

In [ ]:
!pip install fuzzywuzzy
!pip install python-Levenshtein

In [46]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Get all airport names into one table
df_delay_unique_airport = df_flightdelay.select('DEPARTING_AIRPORT').distinct().withColumnRenamed("DEPARTING_AIRPORT", "airport")
df_weather_unique_airport = df_weather.select('NAME').distinct().withColumnRenamed("NAME", "airport")

df_union = df_delay_unique_airport.union(df_weather_unique_airport)

def filter_out_useless_parts_of_string(airport_name):
    useless_words = ["international", "airport", "regional"]

    modified = airport_name.lower()
    for word in useless_words:
        modified = modified.replace(word,"")
        
    return modified
    
filter_string_udf = udf(filter_out_useless_parts_of_string, StringType())

df_union = df_union.select(filter_string_udf(col('airport'))).withColumnRenamed("filter_out_useless_parts_of_string(airport)", "airport")
df_union.show(n=5)

+----------------+
|         airport|
+----------------+
| eppley airfield|
|        kahului |
|greater buffalo |
|     sacramento |
| chicago o'hare |
+----------------+
only showing top 5 rows

In [36]:
from fuzzywuzzy import process, fuzz

def get_matches(df1, col1, df2, col2, threshold=40):
    # Convert each column to a list for processing, ensuring to drop NA values
    list1 = df1[col1].dropna().tolist()
    list2 = df2[col2].dropna().tolist()

    # Find best matches with a score above the threshold
    matches = []
    for item in list1:
        # Use process.extractOne to find the best match for each item from list1 in list2
        best_match = process.extractOne(item, list2, scorer=fuzz.token_set_ratio)
        if best_match and best_match[1] >= threshold:
            matches.append((item, best_match[0], best_match[1]))

    # Return matches as a DataFrame for better visualization
    return pd.DataFrame(matches, columns=[col1, col2 + '_match', 'Score'])

+--------------------+----------------------+-----+
|   weather_unmatched|Airport and City_match|Score|
+--------------------+----------------------+-----+
|albuquerque inter...|  Malta Internation...|   88|
|anchorage ted ste...|  Ted Stevens Ancho...|   93|
|asheville airport...|  Asheville Regiona...|   85|
+--------------------+----------------------+-----+
only showing top 3 rows

+--------------------+----------------------+
|     weather_matched|Airport and City_match|
+--------------------+----------------------+
|memphis internati...|  Memphis Internati...|
|portland internat...|  Portland Internat...|
|richmond internat...|  Richmond Internat...|
+--------------------+----------------------+
only showing top 3 rows

In [49]:
# Add official airports using fuzzywuzzy
# Assuming 'matched_and_unmatched_airports' is your PySpark DataFrame
pandas_df = df_union.toPandas()  # Convert to Pandas DataFrame

# Example usage (ensure df1 and df2 are already defined and loaded with your data)
df_matches_airports = get_matches(pandas_df, 'airport', df_airports, 'Airport and City')

spark_df_airports = spark.createDataFrame(df_matches_airports)
# Show the DataFrame to verify conversion

202

In [ ]:
joining_table = spark_df_airports.select("airport", "Airport and City_match")
delay_table = df_flightdelay.withColumn("DEPARTING_AIRPORT", filter_string_udf('DEPARTING_AIRPORT'))
weather_table = df_day_column.withColumn("NAME", filter_string_udf('NAME'))

delay_joined = delay_table.join(joining_table, joining_table.airport == delay_table.DEPARTING_AIRPORT, 'inner')
weather_joined = weather_table.join(joining_table, joining_table.airport == weather_table.NAME, 'inner')

In [99]:



#delay_joined.show(n=3)
#weather_joined.show(n=3)

# Convert integer columns in df1 to strings
weather_joined = weather_joined.withColumn("MONTH", col("MONTH").cast("string")) \
         .withColumn("DAY_OF_WEEK", col("DAY_OF_WEEK").cast("string"))

result_joined = delay_joined.join(weather_joined, ["MONTH","DAY_OF_WEEK","Airport and City_match"], 'inner')

result_joined.show(n=2)

#weather_join_delay = weather_joined.join(delay_joined, )

24/05/03 19:32:51 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , MONTH, DAY_OF_WEEK, DEP_DEL15, DEP_TIME_BLK, DISTANCE_GROUP, SEGMENT_NUMBER, CONCURRENT_FLIGHTS, NUMBER_OF_SEATS, CARRIER_NAME, AIRPORT_FLIGHTS_MONTH, AIRLINE_FLIGHTS_MONTH, AIRLINE_AIRPORT_FLIGHTS_MONTH, AVG_MONTHLY_PASS_AIRPORT, AVG_MONTHLY_PASS_AIRLINE, FLT_ATTENDANTS_PER_PASS, GROUND_SERV_PER_PASS, PLANE_AGE, DEPARTING_AIRPORT, LATITUDE, LONGITUDE, PREVIOUS_AIRPORT
 Schema: _c0, MONTH, DAY_OF_WEEK, DEP_DEL15, DEP_TIME_BLK, DISTANCE_GROUP, SEGMENT_NUMBER, CONCURRENT_FLIGHTS, NUMBER_OF_SEATS, CARRIER_NAME, AIRPORT_FLIGHTS_MONTH, AIRLINE_FLIGHTS_MONTH, AIRLINE_AIRPORT_FLIGHTS_MONTH, AVG_MONTHLY_PASS_AIRPORT, AVG_MONTHLY_PASS_AIRLINE, FLT_ATTENDANTS_PER_PASS, GROUND_SERV_PER_PASS, PLANE_AGE, DEPARTING_AIRPORT, LATITUDE, LONGITUDE, PREVIOUS_AIRPORT
Expected: _c0 but found:
CSV file: file:///home/mate/repos/LuckaEvolucne/full_data_flightdelay.csv

+-----+-----------+----------------------+------+---------+------------+--------------+--------------+------------------+---------------+--------------------+---------------------+---------------------+-----------------------------+------------------------+------------------------+-----------------------+--------------------+---------+-----------------+--------+---------+----------------+---------------+-----------+-----------+--------------------+----------+-----+----+----+----+----+----+----+----+-----+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----------+--------------------+
|MONTH|DAY_OF_WEEK|Airport and City_match|   _c0|DEP_DEL15|DEP_TIME_BLK|DISTANCE_GROUP|SEGMENT_NUMBER|CONCURRENT_FLIGHTS|NUMBER_OF_SEATS|        CARRIER_NAME|AIRPORT_FLIGHTS_MONTH|AIRLINE_FLIGHTS_MONTH|AIRLINE_AIRPORT_FLIGHTS_MONTH|AVG_MONTHLY_PASS_AIRPORT|AVG_MONTHLY_PASS_AIRLINE|FLT_ATTENDANTS_PER_PASS|GROUND_SERV_PER_PASS|PLANE_AGE|DEPARTING_AIRPORT|LATITUDE|LONGITUDE|PREVIOUS_AIRPORT|normalized_name|    airport|    STATION|                NAME|      DATE| AWND|PGTM|PRCP|SNOW|SNWD|TAVG|TMAX|TMIN| WDF2| WDF5|WSF2|WSF5|WT01|WT02|WT03|WT04|WT05|WT06|WT07|WT08|WT09|WESD|WT10|PSUN|TSUN|SN32|SX32|TOBS|WT11|  DATE_NEW|             airport|
+-----+-----------+----------------------+------+---------+------------+--------------+--------------+------------------+---------------+--------------------+---------------------+---------------------+-----------------------------+------------------------+------------------------+-----------------------+--------------------+---------+-----------------+--------+---------+----------------+---------------+-----------+-----------+--------------------+----------+-----+----+----+----+----+----+----+----+-----+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----------+--------------------+
|    1|          1|  Charleston Air Fo...|223396|        0|   0800-0859|           2.0|             1|                 2|            129|Delta Air Lines Inc.|                 1665|                73508|                        326.0|                  197188|                12460183|     0.0001441658849878|  0.0001486602009422|       11|      charleston |  32.899|  -80.039|            NONE|     charleston|charleston |USW00013880|charleston intl. ...|2019-01-27| 2.46|NULL| 0.0| 0.0| 0.0|NULL|52.0|32.0|350.0| 60.0| 8.1|11.0|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|47.0|54.0|NULL|NULL|2019-01-27|charleston intl. ...|
|    1|          1|  Charleston Air Fo...|223396|        0|   0800-0859|           2.0|             1|                 2|            129|Delta Air Lines Inc.|                 1665|                73508|                        326.0|                  197188|                12460183|     0.0001441658849878|  0.0001486602009422|       11|      charleston |  32.899|  -80.039|            NONE|     charleston|charleston |USW00013880|charleston intl. ...|2019-01-20|15.43|NULL|0.65| 0.0| 0.0|NULL|69.0|40.0|200.0|210.0|35.1|47.0| 1.0|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|55.0|60.0|NULL|NULL|2019-01-20|charleston intl. ...|
+-----+-----------+----------------------+------+---------+------------+--------------+--------------+------------------+---------------+--------------------+---------------------+---------------------+-----------------------------+------------------------+------------------------+-----------------------+--------------------+---------+-----------------+--------+---------+----------------+---------------+-----------+-----------+--------------------+----------+-----+----+----+----+----+----+----+----+-----+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----------+--------------------+
only showing top 2 rows

In [212]:
result_joined.count()

15051649

In [111]:
result_joined.printSchema()

root
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- Airport and City_match: string (nullable = true)
 |-- DEP_DEL15: string (nullable = true)
 |-- DEP_TIME_BLK: string (nullable = true)
 |-- DISTANCE_GROUP: string (nullable = true)
 |-- SEGMENT_NUMBER: string (nullable = true)
 |-- CONCURRENT_FLIGHTS: string (nullable = true)
 |-- NUMBER_OF_SEATS: string (nullable = true)
 |-- CARRIER_NAME: string (nullable = true)
 |-- AIRPORT_FLIGHTS_MONTH: string (nullable = true)
 |-- AIRLINE_FLIGHTS_MONTH: string (nullable = true)
 |-- AIRLINE_AIRPORT_FLIGHTS_MONTH: string (nullable = true)
 |-- AVG_MONTHLY_PASS_AIRPORT: string (nullable = true)
 |-- AVG_MONTHLY_PASS_AIRLINE: string (nullable = true)
 |-- FLT_ATTENDANTS_PER_PASS: string (nullable = true)
 |-- GROUND_SERV_PER_PASS: string (nullable = true)
 |-- PLANE_AGE: string (nullable = true)
 |-- DEPARTING_AIRPORT: string (nullable = true)
 |-- PREVIOUS_AIRPORT: string (nullable = true)
 |-- AWND: string (nullable = true)
 |-- PGTM: string (nullable = true)
 |-- PRCP: string (nullable = true)
 |-- SNOW: string (nullable = true)
 |-- SNWD: string (nullable = true)
 |-- TAVG: string (nullable = true)
 |-- TMAX: string (nullable = true)
 |-- TMIN: string (nullable = true)
 |-- WDF2: string (nullable = true)
 |-- WDF5: string (nullable = true)
 |-- WSF2: string (nullable = true)
 |-- WSF5: string (nullable = true)
 |-- WT01: string (nullable = true)
 |-- WT02: string (nullable = true)
 |-- WT03: string (nullable = true)
 |-- WT04: string (nullable = true)
 |-- WT05: string (nullable = true)
 |-- WT06: string (nullable = true)
 |-- WT07: string (nullable = true)
 |-- WT08: string (nullable = true)
 |-- WT09: string (nullable = true)
 |-- WESD: string (nullable = true)
 |-- WT10: string (nullable = true)
 |-- PSUN: string (nullable = true)
 |-- TSUN: string (nullable = true)
 |-- SN32: string (nullable = true)
 |-- SX32: string (nullable = true)
 |-- TOBS: string (nullable = true)
 |-- WT11: string (nullable = true)
 |-- DATE_NEW: date (nullable = true)

In [221]:
# Drop unnecessary columns
# LATITUDE, LONGITUDE, STATION, MONTH, airport, normalized_name, NAME, _c0
result_joined = result_joined.drop("LATITUDE", "LONGITUDE", "STATION", "MONTH", \
                                   "airport", "normalized_name", "NAME", "_c0", \
                                   "DATE", "AIRLINE_FLIGHTS_MONTH", "AVG_MONTHLY_PASS_AIRLINE" \
                                   "DEPARTING_AIRPORT", "PGTM", "WDF5", "WDF2", "WSF2", "WSF5", \
                                   "SN32", "SX32", "TOBS","WESD", "PSUN","TSUN")

df = result_joined
#result_joined.count()
#result_joined.select("CONCURRENT_FLIGHTS").filter(col("CONCURRENT_FLIGHTS").isNotNull()).count()

In [222]:
df = df.withColumn("TMIN", df["TMIN"].cast("float"))
df = df.withColumn("PRCP", df["PRCP"].cast("float"))


#print(df.count())


#count = df.filter(((col("PRCP") > 0.0) & (col("TMIN") < 3.0)) & (col("SNOW").isNull() | (col("SNOW") == ''))).count()

df = df.withColumn("SNOW", when(col("TMIN") > 3, 0).otherwise(col("SNOW")))
df = df.withColumn("SNOW", when( \
                    (col("SNOW").isNull() | (col("SNOW") == '')) & (col("PRCP") > 0), col("PRCP") \
                               ).otherwise(lit(0)))

count = df.filter(col("SNOW").isNull() | (col("SNOW") == '')).count()
print("Snow is null: ",count)
count = df.filter(col("SNOW").isNotNull()).count()
print("Snow is not null: ",count)

print("Whole df: ",df.count())

Snow is null:  0

Snow is not null:  15051649

Whole df:  15051649

In [223]:
# Simplify temperatures, create new flag column EXTREME_WEATHER based on TMIN and TMAX and drop all others


# Since TMAX and TMIN are strings, you need to convert them to integers before comparison
df = df.withColumn("TMAX", df["TMAX"].cast("integer"))
df = df.withColumn("TMIN", df["TMIN"].cast("integer"))

# Creating the EXTREME_WEATHER column based on the conditions provided
df = df.withColumn("EXTREME_WEATHER", 
                   when((col("TMAX") > 40) | (col("TMIN") < 0), 1)
                   .otherwise(0))

df = df.drop("TMIN", "TMAX", "TAVG")

In [224]:
from pyspark.sql.functions import expr

# Replace all WT** with column which adds these extreme weather conditions into one value
values_as_strings = [f"WT{i:02}" for i in range(1, 12)]
print(values_as_strings)
print("+".join(values_as_strings))

for column_name in values_as_strings:
    df = df.withColumn(column_name, df[column_name].cast("integer"))

['WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT10', 'WT11']
WT01+WT02+WT03+WT04+WT05+WT06+WT07+WT08+WT09+WT10+WT11

In [183]:
df.printSchema()

root
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- Airport and City_match: string (nullable = true)
 |-- DEP_DEL15: string (nullable = true)
 |-- DEP_TIME_BLK: string (nullable = true)
 |-- DISTANCE_GROUP: string (nullable = true)
 |-- SEGMENT_NUMBER: string (nullable = true)
 |-- CONCURRENT_FLIGHTS: string (nullable = true)
 |-- NUMBER_OF_SEATS: string (nullable = true)
 |-- CARRIER_NAME: string (nullable = true)
 |-- AIRPORT_FLIGHTS_MONTH: string (nullable = true)
 |-- AIRLINE_AIRPORT_FLIGHTS_MONTH: string (nullable = true)
 |-- AVG_MONTHLY_PASS_AIRPORT: string (nullable = true)
 |-- FLT_ATTENDANTS_PER_PASS: string (nullable = true)
 |-- GROUND_SERV_PER_PASS: string (nullable = true)
 |-- PLANE_AGE: string (nullable = true)
 |-- DEPARTING_AIRPORT: string (nullable = true)
 |-- PREVIOUS_AIRPORT: string (nullable = true)
 |-- AWND: string (nullable = true)
 |-- PRCP: string (nullable = true)
 |-- SNOW: string (nullable = true)
 |-- WT01: integer (nullable = true)
 |-- WT02: integer (nullable = true)
 |-- WT03: integer (nullable = true)
 |-- WT04: integer (nullable = true)
 |-- WT05: integer (nullable = true)
 |-- WT06: integer (nullable = true)
 |-- WT07: integer (nullable = true)
 |-- WT08: integer (nullable = true)
 |-- WT09: integer (nullable = true)
 |-- WT10: integer (nullable = true)
 |-- WT11: integer (nullable = true)
 |-- DATE_NEW: date (nullable = true)
 |-- EXTREME_WEATHER: integer (nullable = false)

In [225]:
from functools import reduce

total_wt_column = reduce(lambda a, b: a + b, [coalesce(col(c), lit(0)) for c in wt_columns])

df = df.withColumn('EXTREME_WEATHER_WT', total_wt_column)

df = df.drop('WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT10', 'WT11')

#df.printSchema()

#df.groupBy("EXTREME_WEATHER_WT").count().orderBy("EXTREME_WEATHER_WT").show()
#df.select("EXTREME_WEATHER_WT").show(n=50)

In [185]:
df.printSchema()

root
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- Airport and City_match: string (nullable = true)
 |-- DEP_DEL15: string (nullable = true)
 |-- DEP_TIME_BLK: string (nullable = true)
 |-- DISTANCE_GROUP: string (nullable = true)
 |-- SEGMENT_NUMBER: string (nullable = true)
 |-- CONCURRENT_FLIGHTS: string (nullable = true)
 |-- NUMBER_OF_SEATS: string (nullable = true)
 |-- CARRIER_NAME: string (nullable = true)
 |-- AIRPORT_FLIGHTS_MONTH: string (nullable = true)
 |-- AIRLINE_AIRPORT_FLIGHTS_MONTH: string (nullable = true)
 |-- AVG_MONTHLY_PASS_AIRPORT: string (nullable = true)
 |-- FLT_ATTENDANTS_PER_PASS: string (nullable = true)
 |-- GROUND_SERV_PER_PASS: string (nullable = true)
 |-- PLANE_AGE: string (nullable = true)
 |-- DEPARTING_AIRPORT: string (nullable = true)
 |-- PREVIOUS_AIRPORT: string (nullable = true)
 |-- AWND: string (nullable = true)
 |-- PRCP: string (nullable = true)
 |-- SNOW: string (nullable = true)
 |-- DATE_NEW: date (nullable = true)
 |-- EXTREME_WEATHER: integer (nullable = false)
 |-- EXTREME_WEATHER_WT: integer (nullable = false)

In [239]:
from pyspark.sql.functions import col, when, count

# Define a function to count nulls and empty strings
def count_nulls_and_empties(df):
    # Use aggregation to sum up each condition of being null or empty across all columns
    exprs = [count(when(col(c).isNull() | (col(c) == ""), c)).alias(c) for c in df.columns]
    return df.agg(*exprs)

# Apply the function to count nulls and empties
nulls_and_empties_count = count_nulls_and_empties(df)

# Show the result
#nulls_and_empties_count.show()

#df.count()

In [228]:
# Fill in missing values, for example AWND and PRCP

from pyspark.sql.functions import avg, col, coalesce, month, median
from pyspark.sql.window import Window

# Define a window spec partitioned by month
window_spec = Window.partitionBy(month("DATE_NEW"))

# Assuming 'column_name' is the column with null values you want to fill
avg_column = avg(col("AWND")).over(window_spec)
avg_prcp = avg(col("PRCP")).over(window_spec)
med_column = median(col("FLT_ATTENDANTS_PER_PASS")).over(window_spec)


# Replace nulls with the average of that month
df = df.withColumn("AWND_filled", coalesce(col("AWND"), avg_column))
df = df.withColumn("PRCP_filled", coalesce(col("PRCP"), avg_prcp))
df = df.withColumn("DISTANCE_GROUP_filled", coalesce(col("DISTANCE_GROUP"), lit("1")))
df = df.withColumn("FLT_ATTENDANTS_PER_PASS_filled", coalesce(col("FLT_ATTENDANTS_PER_PASS"), med_column))


df = df.drop("AWND").withColumnRenamed("AWND_filled", "AWND")
df = df.drop("PRCP").withColumnRenamed("PRCP_filled", "PRCP")
df = df.drop("DISTANCE_GROUP").withColumnRenamed("DISTANCE_GROUP_filled", "DISTANCE_GROUP")
df = df.drop("FLT_ATTENDANTS_PER_PASS").withColumnRenamed("FLT_ATTENDANTS_PER_PASS_filled", "FLT_ATTENDANTS_PER_PASS")

nulls_and_empties_count = count_nulls_and_empties(df)

# Show the result
nulls_and_empties_count.show()

+-----------+----------------------+---------+------------+--------------+------------------+---------------+------------+---------------------+-----------------------------+------------------------+--------------------+---------+-----------------+----------------+----+--------+---------------+------------------+----+----+--------------+-----------------------+
|DAY_OF_WEEK|Airport and City_match|DEP_DEL15|DEP_TIME_BLK|SEGMENT_NUMBER|CONCURRENT_FLIGHTS|NUMBER_OF_SEATS|CARRIER_NAME|AIRPORT_FLIGHTS_MONTH|AIRLINE_AIRPORT_FLIGHTS_MONTH|AVG_MONTHLY_PASS_AIRPORT|GROUND_SERV_PER_PASS|PLANE_AGE|DEPARTING_AIRPORT|PREVIOUS_AIRPORT|SNOW|DATE_NEW|EXTREME_WEATHER|EXTREME_WEATHER_WT|AWND|PRCP|DISTANCE_GROUP|FLT_ATTENDANTS_PER_PASS|
+-----------+----------------------+---------+------------+--------------+------------------+---------------+------------+---------------------+-----------------------------+------------------------+--------------------+---------+-----------------+----------------+----+--------+---------------+------------------+----+----+--------------+-----------------------+
|          0|                     0|        0|           0|             0|                 0|              0|           0|                    0|                       225900|                       0|                   0|        0|                0|               0|   0|       0|              0|                 0|   0|   0|             0|                      0|
+-----------+----------------------+---------+------------+--------------+------------------+---------------+------------+---------------------+-----------------------------+------------------------+--------------------+---------+-----------------+----------------+----+--------+---------------+------------------+----+----+--------------+-----------------------+

In [234]:
from pyspark.sql.functions import round

calculate_flights = df.select("CARRIER_NAME", "Airport and City_match", "DATE_NEW")

calculate_flights = calculate_flights.withColumn("MONTH", month(col("DATE_NEW").alias("MONTH")))

count = calculate_flights.groupBy("CARRIER_NAME", "Airport and City_match", "MONTH").count()
#print(count.show())

count = count.groupBy("CARRIER_NAME", "Airport and City_match") \
                   .agg(round(avg("count")).alias("monthly_avg_count"))
print(count.show())

+--------------------+----------------------+-----------------+
|        CARRIER_NAME|Airport and City_match|monthly_avg_count|
+--------------------+----------------------+-----------------+
|American Airlines...|  Raleigh Durham In...|           3853.0|
|   Endeavor Air Inc.|  Birmingham Intern...|            117.0|
|Alaska Airlines Inc.|  John Wayne Airpor...|           1561.0|
|Southwest Airline...|  Indianapolis Inte...|           4055.0|
|Midwest Airline, ...|  Seattle Tacoma In...|             40.0|
|American Airlines...|  Memphis Internati...|           1454.0|
|Midwest Airline, ...|  General Mitchell ...|            252.0|
|United Air Lines ...|  Orlando Executive...|           4663.0|
|     JetBlue Airways|  North Island Nava...|            691.0|
|United Air Lines ...|  Boise Air Termina...|            274.0|
|   Endeavor Air Inc.|  Dane County Regio...|            315.0|
|   Endeavor Air Inc.|  San Antonio De Lo...|            203.0|
|United Air Lines ...|  Palm Beach County...|            927.0|
|       Allegiant Air|  General Mitchell ...|             72.0|
|American Airlines...|  Indianapolis Inte...|           1497.0|
|United Air Lines ...|  Birmingham Intern...|             12.0|
|Hawaiian Airlines...|  McCarran Internat...|            356.0|
|United Air Lines ...|  Des Moines Intern...|            439.0|
|SkyWest Airlines ...|  General Mitchell ...|           1896.0|
|SkyWest Airlines ...|  McCarran Internat...|            724.0|
+--------------------+----------------------+-----------------+
only showing top 20 rows

None

In [237]:
rsdf = df.join(
    count,
    ["CARRIER_NAME", "Airport and City_match"],
    "inner"
)

rsdf = rsdf.withColumn("AIRLINE_AIRPORT_FLIGHTS_MONTH",\
                       when(\
                           (col("AIRLINE_AIRPORT_FLIGHTS_MONTH").isNull() | (col("AIRLINE_AIRPORT_FLIGHTS_MONTH") == ''))
                           , col("monthly_avg_count")).otherwise(col("AIRLINE_AIRPORT_FLIGHTS_MONTH")))

rsdf = rsdf.drop("monthly_avg_count")

rsdf.show()
#nulls_and_empties_count = count_nulls_and_empties(rsdf)

# Show the result
#nulls_and_empties_count.show()


result_df = result_joined
#result_df.count()

+--------------------+----------------------+-----------+---------+------------+--------------+------------------+---------------+---------------------+-----------------------------+------------------------+--------------------+---------+--------------------+--------------------+----+----------+---------------+------------------+-----+-------------------+--------------+-----------------------+
|        CARRIER_NAME|Airport and City_match|DAY_OF_WEEK|DEP_DEL15|DEP_TIME_BLK|SEGMENT_NUMBER|CONCURRENT_FLIGHTS|NUMBER_OF_SEATS|AIRPORT_FLIGHTS_MONTH|AIRLINE_AIRPORT_FLIGHTS_MONTH|AVG_MONTHLY_PASS_AIRPORT|GROUND_SERV_PER_PASS|PLANE_AGE|   DEPARTING_AIRPORT|    PREVIOUS_AIRPORT|SNOW|  DATE_NEW|EXTREME_WEATHER|EXTREME_WEATHER_WT| AWND|               PRCP|DISTANCE_GROUP|FLT_ATTENDANTS_PER_PASS|
+--------------------+----------------------+-----------+---------+------------+--------------+------------------+---------------+---------------------+-----------------------------+------------------------+--------------------+---------+--------------------+--------------------+----+----------+---------------+------------------+-----+-------------------+--------------+-----------------------+
|Delta Air Lines Inc.|  Boise Air Termina...|          1|        0|   0600-0659|             1|                10|            191|                 1727|                         93.0|                  171473|  0.0001486602009422|        1|  boise air terminal|                NONE| 0.0|2019-12-29|              0|                 2| 6.26|0.03999999910593033|           2.0|     0.0001441658849878|
|SkyWest Airlines ...|  San Antonio De Lo...|          5|        0|   1800-1859|             4|                 7|             76|                 3359|                        352.0|                  401950|9.900278805864172...|        3|        san antonio |Salt Lake City In...| 0.0|2019-12-19|              1|                 0| 6.49|                0.0|           5.0|   3.419267401443636...|
|Midwest Airline, ...|  Charleston Air Fo...|          1|        0|   0600-0659|             1|                 7|             76|                 2009|                        160.0|                  197188|  0.0001238227442279|        4|         charleston |                NONE| 0.0|2019-12-29|              1|                 1|  9.4| 0.6399999856948853|           3.0|   1.25293581928874e-06|
|Delta Air Lines Inc.|  Tampa Internation...|          3|        1|   1900-1959|             5|                19|            199|                 7211|                       1050.0|                  874468|  0.0001486602009422|       18|              tampa |   Atlanta Municipal| 0.0|2019-12-17|              1|                 3|  8.5| 0.6800000071525574|           2.0|     0.0001441658849878|
|American Airlines...|  Memphis Internati...|          2|        0|   0700-0759|             1|                 6|            128|                 2141|                        382.0|                  191927|   0.000177287219593|       19|            memphis |                NONE| 0.0|2019-12-23|              1|                 0| 6.93|                0.0|           3.0|   9.82082928995461e-05|
|Southwest Airline...|  Orlando Executive...|          1|        1|   0900-0959|             2|                27|            143|                13019|                       3736.0|                 1823051|9.88941230999822e-05|       18|            orlando |Kansas City Inter...| 0.0|2019-12-01|              1|                 1|10.51|                0.0|           5.0|   6.178236301460919...|
|American Eagle Ai...|  Miami Internation...|          3|        0|   2100-2159|             6|                34|             50|                 8367|                       1075.0|                 1413432|   0.000106867151749|       15|              miami |Port Columbus Int...| 0.0|2019-12-24|              1|                 0| 8.95|                0.0|           3.0|      0.000348407665605|
|Atlantic Southeas...|  El Paso Internati...|          6|        0|   1400-1459|             2|                 4|             70|                 1517|                         42.0|                  145475|  0.0001998053656534|        0|            el paso |Houston Intercont...| 0.0|2019-12-13|              1|                 0| 9.17|                0.0|           3.0|                    0.0|
|    Spirit Air Lines|  Seattle Tacoma In...|          5|        0|   1500-1559|             4|                35|            228|                12269|                        117.0|                 1960746|  0.0001246510730715|        1|            seattle |McCarran Internat...| 0.0|2019-12-26|              0|                 2| 6.04|0.05000000074505806|           4.0|   9.173723925704242...|
|United Air Lines ...|  Austin Bergstrom ...|          2|        0|   1400-1459|             2|                12|            170|                 5567|                        625.0|                  690385|  0.0002289854734932|       26| austin - bergstrom |Newark Liberty In...| 0.0|2019-12-16|              1|                 2|15.66|                0.0|           7.0|     0.0002538042406215|
|American Airlines...|  McCarran Internat...|          1|        0|   1000-1059|             2|                23|            187|                13152|                       1211.0|                 1903352|   0.000177287219593|       17|           mccarran |   Douglas Municipal| 0.0|2019-12-01|              1|                 0| 3.58|                0.0|           8.0|   9.82082928995461e-05|
|     JetBlue Airways|  Palm Beach County...|          7|        0|   1900-1959|             3|                 6|            162|                 2716|                        806.0|                  283617|  0.0001268661761139|       16|         palm beach |Ronald Reagan Was...| 0.0|2019-12-28|              1|                 1|15.21| 2.2300000190734863|           5.0|     0.0001600389254787|
|Midwest Airline, ...|  Newark Liberty In...|          4|        0|   2100-2159|             6|                20|             70|                11326|                       1902.0|                 1708599|  0.0001238227442279|       15|     newark liberty |   Douglas Municipal| 0.0|2019-12-11|              0|                 1|10.29| 0.1599999964237213|           5.0|   1.25293581928874e-06|
|United Air Lines ...|  Newark Liberty In...|          3|        0|   1500-1559|             2|                26|            142|                11326|                       4895.0|                 1708599|  0.0002289854734932|       17|     newark liberty |Seattle Internati...| 0.0|2019-12-17|              0|                 3|10.96| 1.0299999713897705|           1.0|     0.0002538042406215|
|  Mesa Airlines Inc.|  George Bush Inter...|          4|        0|   1000-1059|             2|                32|             66|                15165|                       3098.0|                 1690031|9.131157116170832...|       16|houston intercont...|Minneapolis-St Pa...| 0.0|2019-12-11|              1|                 0|10.07|                0.0|           4.0|                    0.0|
|United Air Lines ...|  Washington Dulles...|          3|        1|   1700-1759|             2|                47|            291|                 5758|                       2375.0|                  780326|  0.0002289854734932|       19|  washington dulles |San Francisco Int...| 0.0|2019-12-31|              1|                 1| 7.61|                0.0|          10.0|     0.0002538042406215|
|United Air Lines ...|  General Edward La...|          7|        1|   2000-2059|             3|                14|            173|                12223|                       1059.0|                 1472200|  0.0002289854734932|        5|              logan |Chicago O'Hare In...| 0.0|2019-12-28|              1|                 0|10.96|                0.0|           4.0|     0.0002538042406215|
|Southwest Airline...|  St Louis Lambert ...|          5|        1|   1900-1959|             2|                20|            143|                 5594|                       3249.0|                  642980|9.88941230999822e-05|       20|  lambert-st. louis |Friendship Intern...| 0.0|2019-12-12|              1|                 0| 9.84|                0.0|           3.0|   6.178236301460919...|
|Midwest Airline, ...|  Charleston Air Fo...|          1|        0|   0600-0659|             1|                 7|             76|                 2009|                        160.0|                  197188|  0.0001238227442279|        4|         charleston |                NONE| 0.0|2019-12-22|              1|                 1| 9.62| 0.6600000262260437|           3.0|   1.25293581928874e-06|
|SkyWest Airlines ...|  San Francisco Int...|          2|        0|   0800-0859|             2|                42|             50|                13645|                       3304.0|                 1908862|9.900278805864172...|       17|      san francisco |  Boise Air Terminal| 0.0|2019-12-16|              1|                 0| 4.92|                0.0|           1.0|   3.419267401443636...|
+--------------------+----------------------+-----------+---------+------------+--------------+------------------+---------------+---------------------+-----------------------------+------------------------+--------------------+---------+--------------------+--------------------+----+----------+---------------+------------------+-----+-------------------+--------------+-----------------------+
only showing top 20 rows

In [240]:
df = rsdf

nulls_and_empties_count = count_nulls_and_empties(df)

# Show the result
nulls_and_empties_count.show()

+------------+----------------------+-----------+---------+------------+--------------+------------------+---------------+---------------------+-----------------------------+------------------------+--------------------+---------+-----------------+----------------+----+--------+---------------+------------------+----+----+--------------+-----------------------+
|CARRIER_NAME|Airport and City_match|DAY_OF_WEEK|DEP_DEL15|DEP_TIME_BLK|SEGMENT_NUMBER|CONCURRENT_FLIGHTS|NUMBER_OF_SEATS|AIRPORT_FLIGHTS_MONTH|AIRLINE_AIRPORT_FLIGHTS_MONTH|AVG_MONTHLY_PASS_AIRPORT|GROUND_SERV_PER_PASS|PLANE_AGE|DEPARTING_AIRPORT|PREVIOUS_AIRPORT|SNOW|DATE_NEW|EXTREME_WEATHER|EXTREME_WEATHER_WT|AWND|PRCP|DISTANCE_GROUP|FLT_ATTENDANTS_PER_PASS|
+------------+----------------------+-----------+---------+------------+--------------+------------------+---------------+---------------------+-----------------------------+------------------------+--------------------+---------+-----------------+----------------+----+--------+---------------+------------------+----+----+--------------+-----------------------+
|           0|                     0|          0|        0|           0|             0|                 0|              0|                    0|                            0|                       0|                   0|        0|                0|               0|   0|       0|              0|                 0|   0|   0|             0|                      0|
+------------+----------------------+-----------+---------+------------+--------------+------------------+---------------+---------------------+-----------------------------+------------------------+--------------------+---------+-----------------+----------------+----+--------+---------------+------------------+----+----+--------------+-----------------------+

In [101]:
# Split data into training and testing batches
fractions = {label: 0.1 for label in result_df.select("DEP_DEL15").distinct().rdd.flatMap(lambda x: x).collect()}
sampled_df = result_df.stat.sampleBy("DEP_DEL15", fractions, seed=1234)

# Show the sampled data distribution
sampled_df.groupBy("DEP_DEL15").count().show()

# Split the DataFrame into training (60%) and test (40%) sets
train_df, test_df = sampled_df.randomSplit([0.6, 0.4], seed=1234)

# Show the size of each set
print("Training Dataset Count: " + str(train_df.count()))
print("Testing Dataset Count: " + str(test_df.count()))

24/05/03 19:57:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , MONTH, DAY_OF_WEEK, DEP_DEL15, DEP_TIME_BLK, DISTANCE_GROUP, SEGMENT_NUMBER, CONCURRENT_FLIGHTS, NUMBER_OF_SEATS, CARRIER_NAME, AIRPORT_FLIGHTS_MONTH, AIRLINE_FLIGHTS_MONTH, AIRLINE_AIRPORT_FLIGHTS_MONTH, AVG_MONTHLY_PASS_AIRPORT, AVG_MONTHLY_PASS_AIRLINE, FLT_ATTENDANTS_PER_PASS, GROUND_SERV_PER_PASS, PLANE_AGE, DEPARTING_AIRPORT, LATITUDE, LONGITUDE, PREVIOUS_AIRPORT
 Schema: _c0, MONTH, DAY_OF_WEEK, DEP_DEL15, DEP_TIME_BLK, DISTANCE_GROUP, SEGMENT_NUMBER, CONCURRENT_FLIGHTS, NUMBER_OF_SEATS, CARRIER_NAME, AIRPORT_FLIGHTS_MONTH, AIRLINE_FLIGHTS_MONTH, AIRLINE_AIRPORT_FLIGHTS_MONTH, AVG_MONTHLY_PASS_AIRPORT, AVG_MONTHLY_PASS_AIRLINE, FLT_ATTENDANTS_PER_PASS, GROUND_SERV_PER_PASS, PLANE_AGE, DEPARTING_AIRPORT, LATITUDE, LONGITUDE, PREVIOUS_AIRPORT
Expected: _c0 but found:
CSV file: file:///home/mate/repos/LuckaEvolucne/full_data_flightdelay.csv

+---------+-------+
|DEP_DEL15|  count|
+---------+-------+
|        0|1227342|
|        1| 277948|
+---------+-------+

24/05/03 19:58:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , MONTH, DAY_OF_WEEK, DEP_DEL15, DEP_TIME_BLK, DISTANCE_GROUP, SEGMENT_NUMBER, CONCURRENT_FLIGHTS, NUMBER_OF_SEATS, CARRIER_NAME, AIRPORT_FLIGHTS_MONTH, AIRLINE_FLIGHTS_MONTH, AIRLINE_AIRPORT_FLIGHTS_MONTH, AVG_MONTHLY_PASS_AIRPORT, AVG_MONTHLY_PASS_AIRLINE, FLT_ATTENDANTS_PER_PASS, GROUND_SERV_PER_PASS, PLANE_AGE, DEPARTING_AIRPORT, LATITUDE, LONGITUDE, PREVIOUS_AIRPORT
 Schema: _c0, MONTH, DAY_OF_WEEK, DEP_DEL15, DEP_TIME_BLK, DISTANCE_GROUP, SEGMENT_NUMBER, CONCURRENT_FLIGHTS, NUMBER_OF_SEATS, CARRIER_NAME, AIRPORT_FLIGHTS_MONTH, AIRLINE_FLIGHTS_MONTH, AIRLINE_AIRPORT_FLIGHTS_MONTH, AVG_MONTHLY_PASS_AIRPORT, AVG_MONTHLY_PASS_AIRLINE, FLT_ATTENDANTS_PER_PASS, GROUND_SERV_PER_PASS, PLANE_AGE, DEPARTING_AIRPORT, LATITUDE, LONGITUDE, PREVIOUS_AIRPORT
Expected: _c0 but found:
CSV file: file:///home/mate/repos/LuckaEvolucne/full_data_flightdelay.csv

Training Dataset Count: 903109

Testing Dataset Count: 602357

In [ ]:
# Convert precipitation from numerical to nominal

# Calculate the quantile thresholds
thresholds = result_df.approxQuantile("PRCP", [0.33, 0.67], 0.01)  # 0.01 is the relative error

# Categorize based on quantile thresholds
result_df = result_df.withColumn(
    "precip_category",
    when(col("PRCP") <= thresholds[0], "low")
    .when(col("PRCP") <= thresholds[1], "medium")
    .otherwise("high")
)

# Show the resulting DataFrame
result_df.select("PRCP", "precip_category").show()

In [ ]:
# Transform month from numerical to nominal


# Month mapping dictionary
month_dict = {
    '1': 'January', '2': 'February', '3': 'March', '4': 'April', 
    '5': 'May', '6': 'June', '7': 'July', '8': 'August', 
    '9': 'September', '10': 'October', '11': 'November', '12': 'December'
}

# Define the UDF to convert numerical months to names
def convert_month_to_name(month):
    return month_dict.get(str(month), "Unknown")

convert_month_udf = udf(convert_month_to_name, StringType())

# Apply the UDF to create a new column with month names
df_with_months = result_df.withColumn("MONTH_NAME", convert_month_udf(result_df["MONTH"]))
result_df = df_with_months

In [ ]:
# Transform weekday from numerical to nominal

# Weekday mapping dictionary
month_dict = {
    '1': 'Monday', '2': 'Tuesday', '3': 'Wednesday', '4': 'Thursday', 
    '5': 'Friday', '6': 'Saturday', '7': 'Sunday'}

# Define the UDF to convert numerical months to names
def convert_weekday_to_name(weekday):
    return month_dict.get(str(weekday), "Unknown")

convert_weekday_udf = udf(convert_weekday_to_name, StringType())

# Apply the UDF to create a new column with month names
df_with_months = result_df.withColumn("DAY_OF_WEEK_NAME", convert_weekday_udf(result_df["DAY_OF_WEEK"]))
#df_with_months.show(n=1)
df_with_months = df_with_months.drop("DAY_OF_WEEK").withColumnRenamed("DAY_OF_WEEK_NAME", "DAY_OF_WEEK")

result_df = df_with_months

In [112]:
# NUMBER_OF_SEATS into nominal

# Categorize based on research
result_df = result_df.withColumn(
    "NUMBER_OF_SEATS_NOM",
    when(col("NUMBER_OF_SEATS") <= 100, "Small")
    .when(col("NUMBER_OF_SEATS") <= 200, "Medium")
    .when(col("NUMBER_OF_SEATS") <= 400, "Large")
    .otherwise("Jumbo")
)

# Replace NUMBER_OF_SEATS column with the nominal one
result_df = result_df.drop("NUMBER_OF_SEATS").withColumnRenamed("NUMBER_OF_SEATS_NOM", "NUMBER_OF_SEATS")

In [ ]:
# Plane age into nominal

# Categorize based on research
result_df = result_df.withColumn(
    "PLANE_AGE_NOM",
    when(col("PLANE_AGE") <= 10, "New")
    .when(col("PLANE_AGE") <= 20, "Standard")
    .otherwise("Old")
)

# Replace PLANE_AGE column with the nominal one
result_df = result_df.drop("PLANE_AGE").withColumnRenamed("PLANE_AGE_NOM", "PLANE_AGE")